{%extends 'base.html'%} {% block title %} Add article {% endblock %} {% block
body %}
<div class="container mt-5">
	<h1>Add article</h1>
	<form method="POST">
		<input
			type="text"
			name="title"
			class="form-control mb-2"
			placeholder="title"
			value="{{article.title}}"
		/>
		<textarea
			id="intro"
			type="text"
			name="intro"
			class="form-control mb-2"
			placeholder="intro"
			value="еуіе"
		>
{{article.intro}}</textarea
		>
		<textarea
			type="text"
			name="text"
			class="form-control"
			placeholder="text"
			value="{{article.text}}"
		>
{{article.intro}}</textarea
		>
		<button type="submit" class="btn btn-warning mt-3" style="width: 10%">
			Підтвердити
		</button>
	</form>
</div>
{% endblock %}
